/* *{ border: 1px red solid;} */
@import url('https://fonts.googleapis.com/css?family=Barriecito|Mountains+of+Christmas&display=swap');

body{
  background-color: whitesmoke;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}
.game-board {
	width: 500px;
	height: 500px;
	margin: 0 auto;
  /* background-color: #fff; */
  color:rgb(214, 60, 60);
  /* border: 6px solid #2c3e50; 
  border-radius: 10px; */
	display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 1em;
}

.box {
  /* border: 6px solid #2c3e50;  */
  background-color: rgba(177, 239, 241, 0.7);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5);
  border-radius: 5px;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover{
  background-color: lightgray;
}

h1{
    margin: 0 auto;
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-size: 5em;
    color: gray
}
.result{
  width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.show-result {
  height: 60px;
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 10px;
  top: 190px;
  text-align: center;
  background-color:  rgb(148, 145, 145, 0.5);
  font-family: Helvetica;
  color: crimson;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  font-family: 'Barriecito', cursive;
}

.exit{
  font-family: 'Barriecito', cursive;
  font-size: 2em;
  margin: 0 auto;
  width: 500px;
}

.btnPlayer{
  font-family: 'Barriecito', cursive;
  font-size: 2em;
  margin: 0px 0px 0px 35px;
  display: inline-block;
  width: 200px;
}

